<launch>
  <!-- camera tf -->
  <include file="$(find vision)/launch/camera_tf.launch">
  </include>

  <arg name="serial"           default="936322071233"/>
  <include file="$(find vision)/launch/rs_rgbd.launch">
      <arg name="serial_no"           value="$(arg serial)"/>
  </include>

  <!-- object detection -->
  <node pkg="vision" type="object_detect" name="object_detect">
    <param name="object" value="doorknob"/>
  </node>
  <node pkg="vision" type="pointcloud2xyz" name="pointcloud2xyz">
  </node>

  <!-- Use YOLOv3 -->
  <arg name="network_param_file"         default="$(find darknet_ros)/config/yolov3.yaml"/>
  <arg name="image" default="camera/color/image_raw" />

  <!-- Include main launch file -->
  <include file="$(find darknet_ros)/launch/darknet_ros.launch">	
    <arg name="network_param_file"    value="$(find darknet_ros)/config/yolov3-nursing.yaml"/>
    <arg name="image" value="$(arg image)" />
  </include>
  <node pkg="tf" type="static_transform_publisher" name="item_tf" 
    args="-0.175 0 -0.045 1.57079632679 0 1.57079632679 item_link item_tf_link 10" />
</launch>
