<launch>
  <include file="$(find mars_lite_bringup)/launch/mars_lite_bringup.launch">	
    <arg name="mob_plat_publish_tf"    default="false"/>
  </include>

  <include file="$(find mars_lite_moveit_config)/launch/mars_lite_moveit_planning_execution.launch">	
    <arg name="sim"    default="false"/>
  </include>

  <include file="$(find mars_lite_2dnav)/launch/amcl.launch">	
  </include>

</launch>

